<div class="card-container">
	<div
		class="card mb-3 me-2" style="min-height: 400px;">
		{# Vérifie si le produit a une propriété 'images' et affiche la première image si elle existe #}
		{% if p.images|length > 0 and p.images.first %}
			<img src="{{ vich_uploader_asset(p.images.first, 'imageFile') }}" alt="Product Image" class="img-fluid">
		{% else %}
			<img src="path/to/default-image.jpg" alt="Default Product Image" class="img-fluid">
		{% endif %}

		<div class="card-body d-flex flex-column">
			<h4 class="card-title">{{ p.name | uppercase }}
				<span class="text-primary fw-bold">
					({{ p.price | amount }})
				</span>
			</h4>
			<span class="d-flex flex-row align-items-center flex-wrap">
				<span class="badge bg-info me-1">{{ p.category.name }}</span>
			</span>
			<hr>
			<p class="card-text">
				{{ p.Description|raw|nl2br|striptags|u.truncate(150, '...') }}
			</p>
			<hr>
			<div class="d-flex justify-content-between">
				<a href="{{ path('product_show', {'category_slug': p.category.slug, 'slug': p.slug}) }}" class="btn-custom">En savoir plus</a>
				<a href="#" class="btn btn-success btn-sm">Ajouter</a>
			</div>
		</div>
	</div>

</div>
