{% extends 'base.html.twig' %}
{% block title %}Mon compte - Aromielis
{% endblock %}

{% block body %}
	<h1>Mon compte</h1>
	Bienvenue
	{{ app.user.firstname }}
	dans votre espace membre.
	<hr>
	{% for message in app.flashes('notice') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}
	<div class="list-group mb-6">

		{% for order in orders %}
			<a href="{{ path('account_order', {'reference': order.reference}) }}" class="list-group-item list-group-item-action">
				Commande #{{ order.reference }}
			</a>
		{% else %}
			<p>Aucune commande enregistrée.</p>
		{% endfor %}


		<a href="{{ path('account_address') }}" class="list-group-item list-group-item-action">
			Gérer mes adresses
		</a>
		<a href="{{ path('account_password') }}" class="list-group-item list-group-item-action">
			Modifier mot de passe
		</a>
	</div>
{% endblock %}
