<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">

		<meta name="description" content=" Aromielis, apicultrice spécialisée dans la vente d'huiles essentielles, de produits de la ruche, de miels, nougats et hydrolats. Nous cultivons des plantes médicinales et proposons des produits naturels de qualité issus du Lot-et-Garonne.">
		<meta name="keywords" content="Aromielis, huiles essentielles, produits de la ruche, miels, nougats, hydrolats, apicultrice, plantes médicinales, Lot-et-Garonne, produits naturels, soins à base de plantes">
		<meta name="author" content="Aromielis">
		<meta
		name="robots" content="index, follow">
		<!-- Permet aux moteurs de recherche d'indexer et suivre les liens -->

		<title>
			{% block title %}
				Aromielis | Huiles essentielles et produits de la ruche
			{% endblock %}
		</title>
		<link
		rel="icon" type="image/png" href="{{ asset('images/favicon.png') }}">

		<!-- Open Graph (OG) pour améliorer le partage sur les réseaux sociaux -->
		<meta property="og:title" content="Aromielis| Huiles essentielles et produits de la ruche">
		<meta property="og:description" content="Découvrez les produits naturels d'Aromielis : huiles essentielles, miels, nougats, et hydrolats, cultivés par Aromielis, apicultrice dans le Lot-et-Garonne.">
		<meta
		property="og:image" content="{{ asset('images/og-image.jpg') }}">
		<!-- Image partagée sur les réseaux sociaux -->
		<meta property="og:url" content="{{ app.request.uri }}">
		<meta property="og:type" content="website">
		<meta
		property="og:locale" content="fr_FR">

		<!-- Twitter Card -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="Aromielis | Huiles essentielles et produits de la ruche">
		<meta name="twitter:description" content="Explorez les produits naturels de Aromielis : huiles essentielles, miels, nougats et hydrolats. Fabrication artisanale dans le Lot-et-Garonne.">
		<meta name="twitter:image" content="{{ asset('images/og-image.jpg') }}">


		<script>
			document.addEventListener("DOMContentLoaded", function () {
if (typeof tarteaucitron !== "undefined") {
console.log("Tarteaucitron chargé !");

// Initialisation de tarteaucitron
tarteaucitron.init({
privacyUrl: "/politique-de-confidentialite", /* Lien vers la politique de confidentialité */
bodyPosition: "bottom", /* Position du bandeau de consentement */
hashtag: "#tarteaucitron", /* Hashtag pour ouvrir le panneau */
cookieName: "tarteaucitron", /* Nom du cookie de consentement */
orientation: "middle", /* Position du bandeau */
groupServices: false, /* Grouper les services par catégorie */
showDetailsOnClick: true, /* Développer les détails au clic */
serviceDefaultState: "wait", /* État par défaut des services */
showAlertSmall: false, /* Alerte de consentement minimal */
cookieslist: false, /* Afficher la liste des cookies */
showIcon: true, /* Afficher une icône persistante pour gérer les cookies */
iconPosition: "BottomRight", /* Position de l'icône */
highPrivacy: true, /* Consentement non automatique */
AcceptAllCta: true, /* Bouton "Tout accepter" */
DenyAllCta: true, /* Bouton "Tout refuser" */
mandatory: true, /* Afficher les cookies obligatoires */
googleConsentMode: true, /* Activer Google Consent Mode */
readmoreLink: "/cookies", /* Page dédiée aux informations des cookies */
});

// Ajout des services (Google Tag Manager, Google Analytics)
tarteaucitron.user.googletagmanagerId = 'GTM-WK8RDPNS';
tarteaucitron.user.gtagUa = 'G-0887VNK328'; // UA ou ID GA4
(tarteaucitron.job = tarteaucitron.job || []).push('googletagmanager');
(tarteaucitron.job = tarteaucitron.job || []).push('gtag');
} else {
console.error("Tarteaucitron n'est pas défini !");
}
});
		</script>
		{% block stylesheets %}
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
			<link rel="stylesheet" href="{{ asset('/tarteaucitron/css/tarteaucitron.css') }}">

		{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
				<script src="{{ asset('/tarteaucitron/tarteaucitron.js') }}"></script>
				<script src="{{ asset('/tarteaucitron/lang/tarteaucitron.fr.js') }}"></script>

			{% endblock %}
		{% endblock %}


	</head>
	<body>
		<header>
			{% include "shared/_navbar.html.twig" %}
		</header>
		<main>


			{% include "shared/_flash.html.twig" %}
			{% set margin = '' %}
			{% if carousel is defined %}
				{% include "shared/_carousel.html.twig" %}
			{% else %}
				{% set margin = carousel is defined ? '' : 'mt-5' %}
			{% endif %}

			<div class="container marketing {{ margin }}">
				{% block body %}
					{% if app.environment == 'prod' %}
						<!-- Google Tag Manager (noscript) -->
						<noscript>
							<iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WK8RDPNS" height="0" width="0" style="display:none;visibility:hidden"></iframe>
						</noscript>
						<!-- End Google Tag Manager (noscript) -->
						<script type="text/javascript">
							tarteaucitron.user.gtagUa = 'G-0887VNK328';
// tarteaucitron.user.gtagCrossdomain = ['example.com', 'example2.com'];
tarteaucitron.user.gtagMore = function () { /* add here your optionnal gtag() */
};
(tarteaucitron.job = tarteaucitron.job || []).push('gtag');
						</script>

					{% endif %}
				{% endblock %}
			</div>
			{% include "shared/_footer.html.twig" %}
			<!-- Bouton Retour en haut -->
			<button id="scrollToTopBtn" title="Retour en haut">↑</button>
		</main>
	</body>

</html>
